.App-header {
  margin: 0 auto;
  width: 70%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;  
}

.salary {
  padding: 20px 0;
  border-top: 1px solid;
  margin-top: 20px;
  width: 60%;
}


